.App {
  margin: 0 auto;
  max-width: 80%;
  width: 800px;
}

.App-link {
  color: #61dafb;
}

.data-table, .data-notes {
  margin: 4em 0;
}

thead {
  background-color: orangered;
}

tbody th {
  background-color: #394458;
}

h1 {
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-thickness: 10px;
}

th, td {
  padding: 20px;
}

td {
  background-color: #323947;
}
